.container-error {
    background: red;
    position: fixed;
    z-index: 20;
    color: var(--color-text-dark);
    transform: translate(45vw, 85vh);
    border-radius: 8px;
    padding: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.close-button {
    transition: 0.5s;
    cursor: pointer;
    margin: -5px;
}

.close-button:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

.describe {
    padding: 5px;
}

.describe svg {
    font-size: 1.2rem;
    margin: -3px 0px;
}