.carousel {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    scroll-behavior: smooth;
    margin: 0px 0px 25px 0px;
    scrollbar-width: none;
    height: 455px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-controls-dark {
    display: flex;
    position: absolute;
    z-index: 9;
    justify-content: space-between;
    transform: translate(0px, 30vh);
    padding: 10px;
    width: 100%;
}

.carousel-controls-light {
    display: flex;
    position: absolute;
    z-index: 9;
    width: 100%;
    justify-content: space-between;
    transform: translate(0px, 30vh);
}

.carousel-controls-dark button {
    transition: 0.5s ease;
    color: var(--color-text-dark);
    padding: 8px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    background-image: linear-gradient(var(--color-purple-dark), var(--color-purple-light));
    border: none;
}

.carousel-controls-dark button:hover {
    transition: 0.5s ease;
    transform: scale(1.3);
}

.carousel-controls-light button {
    transition: 0.5s ease;
    color: var(--color-text-light);
    padding: 8px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    background: var(--color-bg-light-1);
}

.carousel-controls-light button:hover {
    transition: 0.5s ease;
    transform: scale(1.2);
    background: var(--color-red-light);
}